* {
    margin: 0;
    padding: 0;
    color: #eef4ed;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body {
    background: #d4af37;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}


.wrapper {
    width: 400px;
    background: #433a3f;
}

.wrapper h1 {
    padding-top: 20px;
    font-size: 36px;
    text-align: center;
}

.input-box {
    width: 100%;
    height: 50px;
    /*background: #927b88;*/
    margin: 30px 0;
    text-align: center;

}

.input-box input {
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px rgba(255, 255, 255, .2);
    border-radius: 40px;
    text-align: center;
    color: #433a3f;

}


.remember-forgot {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 2px;
}

.remember-forgot a {
    margin-right: 10px;
    color: #927b88;
    text-decoration: none;
}
.remember-forgot a:hover {
    transition: all 0.4s ease 0s;
    color: #fff;
    text-decoration: underline;
}



.btn {
    width: 80%;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    margin: auto;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: #927b88;
    border: 3px solid #fff;
    border-radius: 40px;
    transition: all 0.4s ease 0s;
}

.btn:hover {
    color: #927b88;
    background: #fff;
    border-color: #927b88;
    transition: all 0.4s ease 0s;
}

.register-link {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin: -15px 0 15px;
}

.register-link a {
    color: #927b88;
    text-decoration: none;   
}

.register-link a:hover {
    transition: all 0.4s ease 0s;
    color: #fff;
    text-decoration: underline;
}